services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nova_blog_dev
    ports:
      - "6102:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
    stdin_open: true
    tty: true
