services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nova_blog
    ports:
      - "127.0.0.1:6102:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - .env.production
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
